<figure>
  <IMG SRC="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Fachhochschule_Südwestfalen_20xx_logo.svg/320px-Fachhochschule_Südwestfalen_20xx_logo.svg.png" WIDTH=250 ALIGN="right">
</figure>

# Einführung Machine Learning
### Sommersemester 2024
Prof. Dr. Heiner Giefers

Pandas importieren. In der Regel wird die Abkürzung `pd` für die Bibliothek verwendet:

In [ ]:
import pandas as pd

Einen Dataframe aus einer Liste (von Listen) erzeugen:

In [ ]:
# Liste von Listen initialisieren
data = [['Anna', 21], ['Bernd', 20], ['Claudia', 23], ['Dirk', 22]]
  
# Pandas DataFrame anlegen
df = pd.DataFrame(data, columns = ['Name', 'Alter'])
df

Einen Dataframe aus einem Dictionary mit Listen erstellen:

In [ ]:
# Collenction von Listen initialisieren
data = {'Name':['Anna', 'Bernd', 'Claudia', 'Dirk'],
        'Alter':[31, 30, 33, 32]}
  
# Pandas DataFrame anlegen
df = pd.DataFrame(data)
df

Wir können die Indizes auch explizit benennen:

In [ ]:
# Indices definieren
index =['A','B','C','D']
  
# Pandas DataFrame anlegen
dfi = pd.DataFrame(data, index=index)
dfi

Neue Spalten können einfach an den DataFrame angehängt werden:

In [ ]:
df["Studiengang"] = ["MBau", "Inf", "Inf", "Inf"]
df

Ebenfalls können Zeilen überschrieben oder neu angelegt werden:

In [ ]:
df.loc[len(df.index)] = ['Elena', 29, 'MBau']
df

In [ ]:
df["Credits"] = [3400,8800,9000,8000,4400]
df

In [ ]:
df_full = df.copy(deep=True)
df.describe()

In [ ]:
val = df[['Alter','Credits','Studiengang']].values
type(val), val

In [ ]:
zeile_start  =  1 # einschließlich
zeile_ende   = -1 # ausschließlich
spalte_start =  0 # einschließlich
spalte_ende  =  2 # ausschließlich
val[zeile_start:zeile_ende,spalte_start:spalte_ende]

In [ ]:
import numpy as np
df.loc[1, 'Credits'] = np.nan
df.at[3, 'Credits'] = np.nan # .at ist die bessere/schnellere Variante
df.loc[3, 'Alter'] = np.nan
df

In [ ]:
help(df.dropna)

In [ ]:
df.dropna(subset=['Alter'])

In [ ]:
df['Bonus'] = [0.01,0.02,np.nan,0.04,0.05]
df

In [ ]:
df.join(pd.get_dummies(df['Studiengang'])).drop(['Studiengang'], axis=1)

In [ ]:
df_full['Bonus'] = [0.01,0.02,np.nan,0.04,0.05]
df_full

In [ ]:
Limit = 32
df_full.query("Alter <= @Limit and Studiengang == 'Inf'")

In [ ]:
df_full.eval("Credits_Neu = Credits * (1+Bonus)", inplace=True)
df_full

In [ ]:
df.at[3,'Alter'] = 32
df.sort_values(by="Alter", inplace=True)
df.at[3,'Alter'] = np.nan
df

In [ ]:
df.Bonus.fillna(0, inplace=True)
df

In [ ]:
df.Credits.fillna(df.Credits.mean(), inplace=True)
df

In [ ]:
df.Alter.interpolate(axis=0, inplace=True)
df

In [ ]:
df.dropna(subset = ['Alter','Bonus'], inplace=True)

In [ ]:
df